.user_news_div {
    display: flex;
    margin-top: 85px;
    flex-wrap: wrap;
}

.user_news_name {
    height: 41px;
    width: 103px;
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
    transform: rotate(-90deg);
    background-color: #1D4E89;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-left: -30px;
}

.user_news_name p {
    margin-top: 14px;
}

.user_news_admin_list {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 225px;
    margin-top: -105px;
}

.news_item_div h2{
    font-family: 'Open Sans';
    font-size: 24px;
    margin-top: 8px;
    width: 298px;
}

.news_item_div p {
    font-family: 'Oswald';
    font-size: 16px;
    margin-top: 13px;
    width: 292px;
    height: 96px;
    overflow: hidden;
}

.news_item_div {
    margin-top: 74px;
}

.delete_object {
    background-color: #801717;
    margin-top: 13px;
    width: 298px;
    height: 28px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Open Sans';
    cursor: pointer;
    color: white;
}

.delete_object:hover {
    background-color: #ED1B24;
}

#unmoderated {
    display: none;
}

@media (max-width: 1440px) {
    .user_news_div {
        margin-top: 16px;
        flex-direction: column;
    }

    .user_news_name {
        transform: none;
        height: 16px;
        width: 64px;
        font-size: 8px;
        margin-top: 16px;
        margin-left: 16px;
    }

    .user_news_name p {
        margin-top: 3px;
    }

    .user_news_list {
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        margin-left: 16px;
        grid-column-gap: 10px;
    }

    .news_item_div {
        margin-top: 16px;
    }

    .news_item_div img {
        width: 154px;
        height: 105px;
    }

    .news_item_div h2 {
        font-size: 12px;
        width: 154px;
        margin-top: 4px;
    }

    .news_item_div p {
        font-size: 8px;
        width: 154px;
        height: 48px;
        margin-top: 4px;
    }

    .no_object {
        font-size: 16px;
        margin-top: 16px;
        margin-left: 0;
        width: 375px;
    }

    .delete_object {
        width: 154px;
        height: 14px;
        border-radius: 2px;
        font-size: 8px;
        margin-top: 7px;
    }

    .user_news_admin_list {
        margin-top: 0;
        margin-left: 16px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .user_comments_admin_div {
        margin-top: 0px;
    }
}