.category_1_name {
    height: 41px;
    width: 103px;
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    transform: rotate(-90deg);
    background-color: #1D4E89;
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
    margin-top: 74px;
}

.category_1_div {
    display: flex;
}

.category_1_name p {
    margin-top: 5px;
}

.first_item {
    margin-top: 41px;
    margin-left: 35px;
}

.first_item h1 {
    margin-top: 25px;
    width: 722px;
}

.first_item p {
    width: 722px;
    height: 55px;
    overflow: hidden;
    font-family: 'Oswald';
    font-size: 20px;
}

.hidden {
    display: none;
}

.news_1_list {
    display: flex;
    margin-top: 68px;
    margin-left: -106px;
}


.news_item_1_div img {
    width: 298px;
    height: 140px;
}

.news_item_1_div h1 {
    font-size: 24px;
    margin-top: 13px;
    width: 292px;
}

.news_item_1_div p {
    font-family: 'Oswald';
    font-size: 16px;
    width: 292px;
    height: 96px;
    overflow: hidden;
}

.news_item_1_div {
    margin-left: 215px;
}

.last_news_list {
    width: 300px;
    height: 450px;
    background-color: #E3EAEF;
    margin-left: 310px;
    margin-top: 40px;
}

.last_news_list h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
}

.list_line {
    width: 300px;
    height: 6px;
    background-color: #F07300;
}

.date {
    font-family: 'Open Sans';
    font-size: 16px;
}

.last_news_item {
    margin-left: 16px;
    margin-top: 21px;
}

.last_news_item a {
    color: black;
    text-decoration: none;
}

.last_news_item_text {
    font-family: 'Oswald';
    font-size: 16px;
    width: 270px;
    height: 48px;
    overflow: hidden;
}

.last_news_item_text:hover {
    color: #F07300;
}

.category_3_container {
    display: flex;
}

.news_item_2_div h1 {
    font-size: 36px;
    margin-top: 21px;
    width: 510px;
}

.news_item_2_div p {
    height: 60px;
    width: 510px;
    font-family: 'Oswald';
    font-size: 20px;
    overflow: hidden;
}

.news_item_2_div {
    margin-top: 41px;

}

.news_2_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 320px;
    position: relative;
    left: 25px;
}

.news_3_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -75px;
    margin-left: 89px;
    grid-column-gap: 220px;
}

.news_item_3_div h1 {
    margin-top: 21px;
    font-size: 24px;
}

.news_item_3_div p {
    font-family: 'Oswald';
    font-size: 16px;
    width: 292px;
    height: 96px;
    overflow: hidden;
}


.categpry_1_div img:hover {
    background-color:rgba(0, 0, 0, 0.3);
}

@media (max-width: 1440px) {
    .category_1_div {
        display: flex;
        flex-direction: column;
    }

    .last_news_list {
        order: -1;
        width: 335px;
        height: 97px;
        margin-left: 16px;
        margin-top: 16px;
    }

    .last_news_item_div {
        display: flex;
        flex-direction: row;
        margin-top: -18px;
        margin-left: -8px;
    }

    .last_news_item_div p {
        font-size: 8px;
        width: 67px;
    }

    .date {
        margin-left: 16px;
    }

    .list_line {
        width: 335px;
        height: 4px;
    }

    .last_news_item {
        width: 72px;
    }

    .last_news_list h1 {
        font-size: 10px;
    }

    .category_1_name {
        transform: none;
        height: 16px;
        width: 64px;
        font-size: 8px;
        margin-top: 16px;
        margin-left: 16px;
    }

    .category_1_name p {
        margin-top: 3px;
    }

    .first_item {
        width: 327px;
        margin-left: 16px;
        margin-top: 16px;
    }

    .first_item h1 {
        margin-top: 4px;
        font-size: 16px;
        width: 327px;
    }

    .first_item p {
        font-size: 10px;
        height: 30px;
        width: 327px;
    }

    .first_item img {
        width: 327px;
        height: 169px;
    }

    .news_1_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        margin-left: 16px;
    }

    .news_item_1_div {
        width: 154px;
        margin-top: 16px;
        margin-left: 0;
    }

    .news_item_1_div img {
        width: 154px;
        height: 105px;
    }

    .news_item_1_div h1 {
        width: 154px;
        margin-top: 4px;
        font-size: 12px;
    }

    .news_item_1_div p {
        width: 154px;
        font-size: 8px;
        height: 48px;
    }

    .category_3_container {
        flex-direction: column;
    }

    .news_2_list {
        margin-top: 16px;
        grid-column-gap: 0;
        left: 0;
        width: 354px;
    }

    .news_item_2_div {
        margin-top: 0;
        width: 154px;
        margin-left: 16px;
    }

    .news_item_2_div img {
        width: 154px;
        height: 105px;
    }

    .news_item_2_div h1 {
        width: 154px;
        margin-top: 4px;
        font-size: 12px;
    }

    .news_item_2_div p {
        width: 154px;
        font-size: 8px;
        height: 48px;
    }

    .news_3_list {
        margin-top: 16px;
        margin-left: 0;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        margin-left: 20px;
    }

    .news_item_3_div {
        margin-top: 0;
        width: 154px;
        margin-left: -5px;
    }

    .news_item_3_div img {
        width: 154px;
        height: 105px;
    }

    .news_item_3_div h1 {
        width: 154px;
        margin-top: 4px;
        font-size: 12px;
    }

    .news_item_3_div p {
        width: 154px;
        font-size: 8px;
        height: 48px;
    }
}