.content_container {
    min-height: 560px;
}

.no_results {
    text-align: center;
    margin-top: 138px;
}

.news_list_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
    margin-left: 100px;
}

.news_item_div img {
    width: 510px;
    height: 247px;
}

.news_item_div h1 {
    width: 510px;
    font-size: 36px;
    margin-top: 21px;
}

.news_item_div p {
    height: 60px;
    width: 510px;
    font-family: 'Oswald';
    font-size: 20px;
    overflow: hidden;
}

.news_item_div {
    margin-top: 74px;
}

@media (max-width: 1440px) {

    .no_results {
        font-size: 16px;
    }

    .news_list_div {
        grid-column-gap: 0;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        margin-left: 21px;
        margin-top: 16px;
    }

    .news_item_div {
        width: 154px;
        margin-top: 16px;
        margin-left: 0;
    }

    .news_item_div img {
        width: 154px;
        height: 105px;
    }

    .news_item_div h1 {
        width: 154px;
        margin-top: 4px;
        font-size: 12px;
    }

    .news_item_div p {
        width: 154px;
        font-size: 8px;
        height: 48px;
    }
}